<div>
  <h3>{{$ctrl.count}}</h3>
  <button type="button" class="btn btn-default" ng-click="$ctrl.increaseCount()">
    Increase
  </button>
  <form class="form">
    <div class="form-group">
      <label for="search">Search</label>
      <input type="text" class="form-control" ng-model="$ctrl.search" placeholder="">
    </div>
  </form>
  <div ng-repeat="book in $ctrl.books | filter: $ctrl.search" class="row">
    <div class="col-xs-4">
      <img ng-src="{{book.cover_url}}" alt="" class="img-responsive">
    </div>
    <div class="col-xs-8">
      <h3>{{book.title}}</h3>
      <h4>Authors:
        <span ng-repeat="author in book.authors">
          {{author.first_name}} {{author.last_name}}<span ng-if="!$index == book.authors.length - 1">, </span></span>
      </h4>
      <p>{{book.description}}</p>
    </div>
  </div>
</div>
